body {
    background-color: rgb(40 40 40);
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

table {
    margin: 15px auto;
    border-spacing: 1px;
    /* background-color: rgb(165, 162, 162); */
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: rgb(177, 176, 176);
    box-sizing: border-box;
    border-style:outset; 
}

.shown {
    background-color: rgb(237, 236, 236);
    box-shadow: none;
    border-style:inset; 
}

.mine {
    background-color: red;
    box-shadow: none;
    border-style:inset; 
}

.modal {
    background-color: rgb(40 40 40 / 96%);
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    padding-bottom: 20px;
    position: absolute;
    top: 250px;
    left: calc(50% - 77px);
}

.hide {
    display: none;
}

h4 {
    font-size: 12px;
    margin-top: 40px;
}

.lives {
    color: red;
    font-size: 30px;
}

td.hint {
    width: 35px;
    height: 40px;
}

.hint img {
    width: 30px;
}

.hints {
    position: absolute;
    top: 180px;
    left: calc(50% - 160px);
    cursor: pointer;
}

.mega-hint {
    position: absolute;
    top: 185px;
    right: calc(50% - 140px);
}

.mega-hint button {
    background-color: #fa9706;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid white
}

.illuminate img {
    background-color: #a9a92182;
    border-radius: 50%;
    padding: 2px;
}

.smiley-btn {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h6.remain-clicks,
.manual-mines h6 {
    font-size: 12px;
    font-weight: lighter;
    margin-top: 5px;
}

h6,
h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h3 {
    margin-top: 30px;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: lighter;
}

h2 {
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: lighter;
}

.safe-click {
    display: inline-block;
    margin-inline-start: 40px;
}

.safe-click button:hover {
    background-color: #c6ee96;
}

.mega-hint button:hover {
    background-color: #f7b452;
}

.manual-mines button:hover {
    background-color: #e1ccf4;
}

.manual-mines {
    display: inline-block;
    margin-inline-start: 30px;
}

.safe-click button {
    height: 35px;
    width: 80px;
    background-color: #a9de6c;
    border-radius: 10px;
    border: 1px solid white;
    /* margin-inline-start: 20px; */
}

.manual-mines button {
    height: 35px;
    width: 80px;
    background-color: #d6affb;
    border-radius: 10px;
    border: 1px solid white;
}

.highlight {
    border: 3px solid #b4ff5d;
}

.remain-clicks span {
    color: #8bc34a;
}

.scores-table {
    margin-top: 2px;
    font-size: 12px;
    border: 1px solid gray;
}

.scores-table td {
    padding: 5px 10px;
}

.transparent {
    background-color: transparent;
    width: 40px;
    border-radius: 50%;
}

.exterminator {
    width: 70px;
    top: 390px;
    left: calc(50% - 170px);
    cursor: pointer;
}

.used {
    cursor: not-allowed;
}

.footer {
    margin-top: 50px;
    font-weight: lighter;
}