body {
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

table {
    margin: 20px auto;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: rgb(177, 176, 176);
}

.shown {
    background-color: white;
}

.modal {
    background-color: rgb(109, 109, 109);
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    padding-bottom: 20px;
    position: absolute;
    top: 10px;
    left: calc(50% - 80px);
}

.hide {
    display: none;
}

h4 {
    font-size: 12px;
}